<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ru.spb.nkurasov.figure" name="Figure Definition" schema="schema/ru.spb.nkurasov.figure.exsd"/>
   <extension
         point="ru.spb.nkurasov.figure">
      <figure
            name="Oval">
         <booleanProperty
               defaultValue="true"
               name="visible">
         </booleanProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="false"
               name="X">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="false"
               defaultValue="0"
               name="Y">
         </integerProperty>
         <groupProperty
               name="circular">
            <integerProperty
                  boundedAbove="false"
                  boundedBelow="false"
                  name="Raduis">
            </integerProperty>
         </groupProperty>
      </figure>
   </extension>
</plugin>
