<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ru.spb.nkurasov.figure" name="Figure Definition" schema="schema/ru.spb.nkurasov.figure.exsd"/>
   <extension
         point="ru.spb.nkurasov.figure">
      <figure
            name="ru.spb.nkurasov.figure.figure4">
         <booleanProperty
               name="ru.spb.nkurasov.figure.booleanProperty4">
         </booleanProperty>
         <groupProperty
               name="ru.spb.nkurasov.figure.groupProperty2">
            <booleanProperty
                  name="ru.spb.nkurasov.figure.booleanProperty5">
            </booleanProperty>
            <integerProperty
                  name="ru.spb.nkurasov.figure.integerProperty5">
            </integerProperty>
            <stringProperty
                  name="ru.spb.nkurasov.figure.stringProperty3">
            </stringProperty>
         </groupProperty>
         <integerProperty
               name="ru.spb.nkurasov.figure.integerProperty4">
         </integerProperty>
         <stringProperty
               name="ru.spb.nkurasov.figure.stringProperty2">
         </stringProperty>
      </figure>
   </extension>
</plugin>
