<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="ru.spb.nkurasov.figure.editor.application.FigureEditorApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.spb.nkurasov.figure.editor.application.application"
            name="ru.spb.nkurasov.figure.editor.export">
         <property
               name="appName"
               value="ru.spb.nkurasov.figure.editor.export">
         </property>
      </product>
   </extension>
</plugin>
