<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ru.spb.nkurasov.figure">
      <figure
            name="Oval">
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="X">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Y">
         </integerProperty>
         <groupProperty
               name="isCicrcle">
            <integerProperty
                  boundedAbove="false"
                  boundedBelow="true"
                  minValue="0"
                  name="Radius">
            </integerProperty>
         </groupProperty>
      </figure>
      <figure
            name="Rectangle">
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="X">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Y">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Width">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Height">
         </integerProperty>
      </figure>
   </extension>

</plugin>
