<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ru.spb.nkurasov.figure">
      <figure
            name="Oval">
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="X"
               onGroupEnabled="true">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Y"
               onGroupEnabled="true">
         </integerProperty>
         <groupProperty
               name="isCicrcle">
            <integerProperty
                  boundedAbove="false"
                  boundedBelow="true"
                  minValue="0"
                  name="Radius"
                  onGroupEnabled="true">
            </integerProperty>
            <integerProperty
                  boundedAbove="false"
                  boundedBelow="true"
                  defaultValue="0"
                  minValue="0"
                  name="RadiusX"
                  onGroupEnabled="false">
            </integerProperty>
            <integerProperty
                  boundedAbove="false"
                  boundedBelow="true"
                  defaultValue="0"
                  minValue="0"
                  name="RaduisY"
                  onGroupEnabled="false">
            </integerProperty>
         </groupProperty>
      </figure>
      <figure
            name="Rectangle">
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="X"
               onGroupEnabled="true">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Y"
               onGroupEnabled="true">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Width"
               onGroupEnabled="true">
         </integerProperty>
         <integerProperty
               boundedAbove="false"
               boundedBelow="true"
               defaultValue="0"
               minValue="0"
               name="Height"
               onGroupEnabled="true">
         </integerProperty>
      </figure>
   </extension>

</plugin>
